<h1 mat-dialog-title>Add new Staff</h1>

<div mat-dialog-content fxLayout="column">

  <mat-form-field appearance="outline">
    <mat-label>First name</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last name</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>email</mat-label>
    <input type="email" matInput>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-flat-button color="accent">
    Submit
  </button>

  <button mat-flat-button color="warn">
    Cancel
  </button>
</div>
